<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})" >
<head>
<meta charset="UTF-8"/>
<title>Home</title>
</head>
<body>

<section class="banner d-flex justify-content-center align-items-center">
<div class = "text-center">
<h1 class="font-white-bold"> Smart Contact Manager </h1>
<p> 
Start Collecting your contacts in very smarter way. 
We Provide  very efficent and smarter  way of  handling contacts 
</p>
<button class ="btn bg-primary btn-lg text-white" >Get Start</button>
</div>
</section>


<!-- <h1>THIS IS HOME..</h1> -->
</body>
</html>